<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#"><mat-icon>home</mat-icon> Home</a>
      </li>
      <li>
        <a href="#"><mat-icon>account_circle</mat-icon> Perfil</a>
      </li>
      <li>
        <a href="#"><mat-icon>settings</mat-icon> Configurações</a>
      </li>
      <li>
        <a href="#"><mat-icon>exit_to_app</mat-icon> Sair</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <h2>Bem-vindo(a) Leticia</h2>

    <div class="container">
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Saldos e Extratos</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title><mat-icon>payments</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Pagamentos</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title
            ><mat-icon>currency_exchange</mat-icon></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>Transferencias</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title><mat-icon>credit_card</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Cartão de Credito</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Empréstimos</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title><mat-icon>finance</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Investimentos</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Seguros</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Consorcios</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Capitalização</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Renegociação de dívidas</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
