<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#"><mat-icon>home</mat-icon> Home</a>
      </li>
      <li>
        <a href="#"><mat-icon>account_circle</mat-icon> Perfil</a>
      </li>
      <li>
        <a href="#"><mat-icon>settings</mat-icon> Configurações</a>
      </li>
      <li>
        <a href="#"><mat-icon>exit_to_app</mat-icon> Sair</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <h2>Bem-vindo(a) Leticia</h2>

    <div class="container">
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Saldos e Extratos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 1</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Pagamentos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 2</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Transferencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Cartão de Credito</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Emprestimos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Investimentos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Card 3</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="teste">
        <mat-card-header>
          <mat-card-title>Card 3</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Conteúdo do card 3</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
