<div class="nav-bar">
  Produtos | Serviços | Conteudo | Acesse sua conta |
  <form (ngSubmit)="onSubmit()" style="display: inline">
    <label for="agency">Agência:</label>
    <input
      type="text"
      id="agency"
      [(ngModel)]="loginData.agency"
      name="agency"
      placeholder="Agência"
      required
    />
    <label for="account">Conta:</label>
    <input
      type="text"
      id="account"
      [(ngModel)]="loginData.account"
      name="account"
      placeholder="Conta"
      required
    />
    <button type="submit">Acesso</button>
  </form>
</div>

<img src="assets/img/internet-banking.jpg" alt="Logo" />

<footer>Direitos reservados a Leticia</footer>
