<div class="nav-bar">
  Produtos | Serviços | Conteudo | Acesse sua conta |
  <form (ngSubmit)="onSubmit()" style="display: inline">
    <label for="agency">Agência:</label>
    <input
      type="text"
      id="agency"
      [(ngModel)]="loginData.agency"
      name="agency"
      placeholder="Agência"
      required
    />
    <label for="account">Conta:</label>
    <input
      type="text"
      id="account"
      [(ngModel)]="loginData.account"
      name="account"
      placeholder="Conta"
      required
    />
    <button type="submit">Acesso</button>
  </form>
</div>

<div class="container">
  <img src="assets/img/internet-banking.jpg" alt="Logo" />
  <div class="text">
    <div class="title">Internet Banking</div>
    <div class="description">Faça suas transações com mais agilidade e segurança</div>
  </div>
</div>


<footer>Direitos reservados a Leticia</footer>
