<div class="container">
  <div class="login-box">
    <h2>Olá Leticia</h2>
    <p>Agência xxx | Conta xxxxxx-x</p>
    <div class="tabs">
      <button>Validação</button>
      <button>Senha</button>
    </div>
    <div class="form">
      <p>
        Informe a sua chave de segurança com 6 digitos que aparece no seu App
      </p>
      <label for="email">Digite sua senha </label>
      <input type="password" id="password" name="password" />
      <button class="advance-button" (click)="avancarParaSenha()">
        Avançar para a Senha
      </button>
    </div>
  </div>
</div>
